<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>컴포넌트-인풋</title>
  <link rel="stylesheet" href="./index.css" />

</head>

<body>

  <div class="container">

    <div class="language-top">
      <label for="language-select">
        <select name="language" id="language-select">
          <option value="Korean">한국어</option>
          <option value="English">English</option>
        </select>
        <div class="language-top-img">
          <img src="./../../image/global.svg" alt="" />
          <img src="./../../image/down-fill.png" alt="더보기" />
        </div>
      </label>
    </div>


    <div class="language-down">
      <label for="language-select">
        <select name="language" id="language-select">
          <option value="Korean">한국어</option>
          <option value="English">English</option>
        </select>
      </label>
      <div class="language-top-img">
        <img src="./../../image/global.svg" alt="" />
        <img src="./../../image/down-fill.png" alt="더보기" />
      </div>
    </div>


  </div>

</body>

</html>