/* 레이아웃 */
@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

:root {
  --font-color: #FEFEFE;
}

* {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--font-color);

}

a {
  color: var(--font-color);
  text-decoration: none;
}

/* 배경 이미지 */

body {
  background-image: url(./images/배경화면.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* 헤더 */
.header {
  padding-top: 100px;
  line-height: normal;
  font-style: normal;
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 300;
  letter-spacing: -0.72px;

}

.sub-title-en {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.36px;
  margin-top: 24px;
}

.sub-title-ko {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.24px;
  margin-top: 9px;
}