.container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1.5rem;
  padding: 1em;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}



.logo-link {
  display: block;
  width: 5em;
  height: 1.38em;
}

.logo-link img {
  width: 100%;
}


@media (min-width:768px) {
  .logo-link {
    width: 8.75em;
    height: 2.38em;
  }
}