@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');

body {
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

.header {
  padding: 20px 25px;
  background: var(--gradients-100, linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.7) 100%)), url(./image/background\ \(1\).png);
}

.header-container {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  text-align: center;
  gap: 1em;
}

.main {
  background: black;
  color: white;
  padding: 20px 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-wrapper {
  margin-block: 48px;
  width: 339x;
  text-align: center;
  /* background-color: gray; */
}

.main-p-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-p1,
.main-p2,
.main-p3,
.emailbox-wrapper {
  margin-bottom: 24px;
}

.main-p1 {
  width: 310px;
  font-size: 2.125em;
  font-weight: 700;
  line-height: 120%;
  /* 40.8px */
}

.main-p2 {
  width: 265px;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 150%;
  /* 27px */
  letter-spacing: -0.009px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
}

.main-p3 {
  width: 265px;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 150%;
  /* 21px */
  letter-spacing: -0.007px;
  text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.55);
}

.main-p4 {
  width: 310px;
  font-size: 0.75em;
}

.divider {
  width: 100%;
  background-color: #2F2F2F;
  height: 4px;
  border: none;
}

@media (min-width:768px) {

  .header {
    padding: 2.5em 12.5em;
    background: none;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.00) 0%, #000 70%);
  }

  .main {
    background: none;
  }

  .main:after {
    content: "";
    height: 147px;
    background-color: black;
  }

  .bg-for-desktop {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, #000 100%), url(./image/background-desktop.png), lightgray 50%;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .main-wrapper {
    margin-block: 57px;
    width: 750px;
  }

  .main-p1,
  .main-p2,
  .main-p3,
  .emailbox-wrapper {
    margin-bottom: 28px;
  }

  .main-p1 {
    width: 518px;
    font-size: 3.75em;
  }

  .main-p2 {
    width: 520px;
    font-size: 1.25em;
  }

  .main-p3 {
    width: 306px;
    font-size: 1em;
  }

  .main-p4 {
    width: 322px;
    font-size: 1em;
  }

  .main-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .divider {
    width: 100%;
  }


}